.about{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}

.about .left{
    text-align: center;
    /* margin: auto; */
    padding: 1rem;
    width: 50%;

    display: flex;
    
}

.about .left p{
    margin: 1.2rem 0;
}

.about .right{
    width: 40%;
}

.about .img-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    align-items: center;
    text-align: center;
}

.right .img{
    max-width: 90%;
    /* border: 1px solid #333; */
}

.right .top{
    grid-column: 1 / span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 6;
}

.right .bottom{
    grid-column: 4 / -1;
    grid-row: 1;
    z-index: 5;
}

/* ul{
    color: white;
} */
  
  /* .skills h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
  }
    
  .skills li {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    width: 16rem;
  }
  
  .skills svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    fill: rgb(240, 255, 28);
  }
  
  .skills span {
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
  }
 */

 .skills {
  /* background-color: #f7fafc; */
  padding: 4rem 0;
  margin:2rem 0;
}

.skills h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
  color: #1a202c;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}

.skills-column {
  width: 100%;
  width: 200px;
  margin: 0 1rem 2rem;
  width:full;   
  /* border:3px solid green; */
}

.skills-ul{ 
  width:full;
  display:flex;
  flex-wrap: wrap; 
  /* border:5px solid blue */
}

.skills-img{
  width:100%;
  border-radius: 100%;
}

  
.skills-span{
  /* background-color: blue; */
  margin-bottom: 3rem;
  margin-top: 1rem;

}